
body {
display: flex;
flex-direction: column;
min-height: 100vh;
overflow: hidden;
margin: 0px;
padding: 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}
nav a:hover {
	text-decoration: underline;
}
nav a{
    color:rgb(44, 43, 43);
    display: inline-block;
    font-size: 15px;
    line-height:20px;
    font-weight: 400;
    padding: 6px 7px;
    text-decoration: none;

}

nav img {
	padding: 5px;
	margin:auto 5px;
}
nav img:hover{
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.sections{
    flex: 1;
}
.sections .glogo{
    display: block;
    margin:0px auto;
    margin-top: 2%;
}

.center_content{
    width: 45%;
    margin: 0px auto;
    position: relative;
    text-align: center;
    margin-top: 0.5%;
    
}
.center_content input[type=text] {
    width: 100%;
    display: block;
    font-size: 15px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    padding: 13px;
    border-radius: 30px;
    background-color: #ffffff;
    outline: none;
    padding-left: 50px;
    padding-right: 80px;
}
.center_content .search_logo{
    position: absolute;
    left:19px;
    top:12px;
    opacity:0.6;
    
}
.center_content .right_icon{
    position:absolute;
    right: 20px;
    top:10px;
    padding-right: 5px;
}

.center_content input[type=button] {
    width: 22%;
    border: 0.1px solid transparent;
    border-radius:5px;
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
    outline: none;
    margin-top: 25px;
    margin-right: 10px;

}
.language{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.language a{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(29, 29, 194);
    font-size: 15px;
}

footer{
    background: #f2f2f2;
    font-weight: 500;
}
footer a{
    text-decoration: none;
    display: inline-block;
    color: #3d3d3d
}
.footerlink{
    display: flex;
    border-top: 0.5px solid #ddd;
    padding: 15px;
}
.footerlink .leftlink{
    flex: 1;  
    padding-left: 15px;
}

.footerlink .rightlink{
    padding-right: 15px;  
}

footer p{
    padding-left: 17px;
    font-size: 15px;
    
}
@media only screen and(max-width : 350px){
    
}
@media only screen and(max-width : 600px){
    
}
@media only screen and(max-width : 780px){
    
}
@media only screen and(max-width : 1024px){
    
}


