html {
    display: block;
}
body,html{
    max-width: 100%;
    max-height:100%;
}
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.container{
    max-width:fit-content;
}
a{
    color: black;
    text-decoration: none;
    
}

.nav {
    display: flex;
    justify-content: right;
     margin-top: 3%;
}

.nav a{
    display: flex;
    justify-content:space-evenly;
    width: 5%;
    margin-right: 10px;
}
.center img{
    width:20%
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.search_form{
    width: 100%;
    margin-left: 25%;
    position: relative;
    
}
.buttons{
    width: 100%;
    margin-left: 40%;
}
.search_form img{
    width: 2%;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    background-image: url('image/search.png');
    padding: 18px;
    border-radius: 30px;
    padding-left:40px;

}

input[type=button] {
    width: 10%;
    box-sizing: border-box;
    border: 0.1px;
    border-radius: 4px;
    font-size: 12px;
    padding: 13px;

}
.content p{
    text-align: center;
}
p a:visited{

    color: blue;
}
p a:link{
    color: rgb(138, 45, 104);
}
.footer{
    background-color: rgb(250, 248, 248);
    margin-top: 12%;
   
    
}
.footerlink{
    border-top: 2px solid rgb(212, 205, 205);
    padding: 8px;
    padding-left: 15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;

}
.country{
    padding-top: 0.5px;
    padding-left: 15px;
    color: #393838;
}
.rightlink{
    padding-right: 10px;
}
